<div class="flex flex-row justify-between">
  <h1 class="text-xl font-bold">List of users</h1>
  <%= link_to 'New Post', new_post_path, class: "border border-zinc-300 p-2 bg-sky-500 hover:bg-sky-600 font-bold rounded-md" %>
</div>
<% @users.each do |user| %>
  <div class="flex my-4 border border-gray-700 h-20 rounded-md">
    <img src="<%= user.photo %>" class="object-scale-down rounded-l-md"/>
    <div class="px-2 pt-4 flex flex-col">
      <h2 class="text-lg font-bold text-sky-600 hover:text-sky-700"><%= link_to user.name, user %></h2>
      <p class="text-sm font-bold">Number of Posts:
        <%= user.posts.count %></p>
    </div>
  </div>
<% end %>
